/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #c9ffd7;
}
/*--------------------------------------------
---------------header section ----------------
--------------------------------------------*/
.head{
    display: flex;
    width: 930px;
    flex-direction:row;
    justify-content: space-between;
    background-color: rgb(102, 188, 98);
    border-radius: 10px;
    margin-bottom: 10px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-main{
    padding-left: 20px;
    display: flex;
    color: green;
}
.header-main .logo img{
    margin-top: 5px;
    padding-right: 15px;
}
.header-main .logo .h2{
    
}
.header-main-two{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
}
.header-main-two a{
    padding: 10px;
}
.header-main-two img{
    padding-left: 10px;
    height: 45px;
    width: 45px;
}
h2{
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}
.header-main .logo img{
    height: 51px;
    width: 51px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #a4f5ba;
    width: 870px;
    padding: 30px ;
    border-radius: 5px;
    /* height: 679px; */
}
.top-player-color{
    color: #005801b9;
    font-size: 24px;
    margin-top: 0px;
    /* text-align: center; */
}
/* top players style */
.players{
    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(3,1fr);
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 10px;
    font-size: 18px;
    color: #005801b9;
}
.player img{
    width: 56px;
    height: 56px;
}
hr{
    border: 0.5px solid #bcbcbc;
    margin-top: 30px;
}
.top-blog{
    margin-top: 25px;
}

/* top blog style */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 26px;
}
.blog .thumbnail img{
    height: 117px;
    width: 177px;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 16px;
}
.blog-info h3{
    margin-top: 3px;
    font-size: 20px;
    height: 68px;
    width: 200px;
}
.blog-info p{
    font-size: 16px;
    color: #bcbcbc;
}
.blog-info a{
    font-size: 16px;
    color: #562EFF;
}
.second-container{
    background-color: #a4f5ba;
    width: 870px;
    padding: 30px ;
    border-radius: 5px;
    margin-top: 10px;
}
/* last-main-design */
.lates-course-color{
    color: #005801b9;
}
.course{
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.element-1{
    display: grid;
    grid-template-columns: 1fr;
    width: 225px;
}
.image .element-image img{
    height: 104px;
    width: 224px;
}
.course .image .element-image img{
    margin-bottom: 0px;
}
.course .image h3,p{
    margin:0px;
}
.three-element{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    row-gap: 30px;
}
.three-element .star{
    margin-top: 5px;
    height: 11px;
    width: 77px;
    display: flex;
}
.two-element{
    background-color: #FFE4E8;
    border-radius: 15px;
    height: 20px;
    padding-top: 0px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
}
.three-element .two-element .clock img{
    height: 20px;
    width: 20px;
}

/*--------------------------------------------
---------Media Query for short device---------
--------------------------------------------*/
@media only screen  and (max-width:576px){
    .head{
        width: 100%;
    }
    .header-main-two{
        font-weight: bold;
    }
}
@media only screen and (max-width:576px){
    .top-player-color{
        text-align: center;
    }
    .container{
        width: 100%;
    }
    .players, .blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .player{
        flex-direction: column;
    }
}
@media only screen and (max-width:576px){
    .blogs{
        justify-items: center;
        text-align: center;
    }
    .blog img{
        margin-left: 15px;
    }
    .blog{
        border: 1px solid green;
        border-radius: 15px;
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;

        flex-direction: column;
    }
}
@media only screen and (max-width:576px) {
    .second-container{
        width: 100%;
    }
    .course{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        row-gap: 35px;
    }
    .lates-course-color{
        text-align: center;
    }
    .element-1{
        padding: 5px;
        border: 1px solid green;
        border-radius: 15px;
    }
}

/*---------------------------------
-------For Middle Display----------
----------------------------------*/
@media only screen  and (min-width:576px) and (max-width:992px){
    .head{
        width: 100%;
    }
    .header-main-two{
        font-weight: bold;
    }
}
@media only screen and (min-width:576px) and (max-width:992px){
    .top-player-color{
        text-align: center;
    }
    .container{
        width: 100%;
    }
    .players, .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .player{
        flex-direction: column;
    }
}
@media only screen and (min-width:576px) and (max-width:992px){
    .blogs{
        justify-items: center;
        text-align: center;
    }
    .blog img{
        margin-left: 15px;
    }
    .blog{
        border: 1px solid green;
        border-radius: 15px;
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;

        flex-direction: column;
    }
}
@media only screen and (min-width:576px) and (max-width:992px) {
    .second-container{
        width: 100%;
    }
    .course{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        row-gap: 35px;
    }
    .lates-course-color{
        text-align: center;
    }
    .element-1{
        padding: 5px;
        border: 1px solid green;
        border-radius: 15px;
    }
}